#contactPage{
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin:0 auto;
    text-align: center;
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30rem;
}
.contactPageTitle{
    font-size:3rem;
    margin-bottom: 1rem;

}

.contactDesc
{
padding: 1rem;
    font-size: medium;
    font-weight: 300;
}
.contactForm
{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;

}
.name, .email, .msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40,40,40);


}
.submitBtn {
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 1rem; /* Reduced margin */
    padding: 0.5rem 2rem; /* Reduced padding for a smaller button */
    font-size: 0.9rem; /* Optional: slightly smaller font */
}

@media screen and (max-width: 759px) {
    .submitBtn {
        padding: 0.4rem 1.5rem; /* Further reduce padding on smaller screens */
        font-size: 0.8rem; /* Decrease font size */
    }
}

.links
{
    display: flex;
    flex-wrap: wrap;
}
.link
{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;

}
@media (max-width: 1320px) {
    #contactPage{
        margin-top: 27rem;

    }

}
@media screen and (max-width: 759px) {
    #contactPage{
        min-height: calc(100vh - 4rem);
        width: 100vw;
        max-width: 60rem;
        margin:0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40rem;

    }

}
