/* Experience Section Styles */
#experience {
    overflow: hidden;
    width: 80%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem; /* Add padding for spacing around the section */
    gap: 2rem;
}

.experienceTitle {
    font-size: 3rem;
    font-weight: 700;
    align-items: center;
    text-align: center;
}

.experienceDesc {
    font-size: 1.3rem;
    max-width: 60rem;
    margin: 0 auto 2.5rem;
    align-items: center;
}

/* Tree Structure */
.experienceTree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Row Styles */
.experienceRow {
    display: flex;
    justify-content: space-around; /* Distributes leaves evenly in the row */
    width: 100%;
    margin-bottom: 2rem; /* Adds space between rows */
    gap: 2rem;
}

/* Leaf Styles */
.experienceLeaf {
    flex: 1 1 calc(20% - 1.5rem); /* Réduction de la largeur des feuilles */
    max-width: 100%;
    background: rgb(50, 50, 50);
    border-radius: 8px;
    padding: 1.5rem; /* Réduction de la taille du padding pour un design plus compact */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0; /* Opacité initiale pour l'animation */
    transform: translateX(20px); /* Position de départ pour l'animation */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    border: transparent;
}

/* Active class for scroll animation */
.experienceLeaf.active {
    opacity: 1;
    transform: translateX(0);
}

/* Leaf Content */
.leafContent h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    align-items: center;
}

.leafContent h4 {
    margin-bottom: 0.5rem;
    text-align: center;
    align-items: center;
}

.leafContent p {
    font-size: 0.5rem;
    line-height: 1.6;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
    #experience {
        width: 90%;
        padding: 1.5rem;
        display: flex;
        flex-direction: column; /* Ensure stacking in smaller screens */
    }

    .experienceTitle {
        font-size: 2.8rem;
        text-align: center; /* Center align title */
        margin-bottom: 1rem; /* Add space below title */
    }

    .experienceDesc {
        font-size: 1.2rem;
        max-width: 50rem;
        margin: 0 auto 2rem; /* Center align and add margin */
        text-align: center; /* Center align description */
    }
}

@media screen and (max-width: 720px) {
    #experience {
        flex-direction: column;
    }

    .experienceTitle {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .experienceDesc {
        font-size: 1.1rem;
        padding: 0 1rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    #experience {
        flex-direction: column;
    }

    .experienceTitle {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .experienceDesc {
        font-size: 1rem;
        text-align: center;
    }
}

